@font-face {
  font-family: 'GothamPro';
  src: url('../../src/assets/fonts/GothamPro.woff'), url('src/assets/fonts/GothamPro.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../../src/assets/fonts/GothamPro-Bold.woff'), url('src/assets/fonts/GothamPro-Bold.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../../src/assets/fonts/GothamPro-Medium.woff'), url('src/assets/fonts/GothamPro-Medium.woff2');
  font-style: normal;
  font-weight: normal;
}