:root {
  --color-orange: #F19D2F;
  --color-darg-orande: #E27500;
  --color-ligth-orange: #FFD1AC;
  --color-green: #37D997;

  --color-white: #fff;
  --color-ligth-white: #F0F0F0;

  --color-black-700: #000;
  --color-black-600: #2C2B31;
}